body {
    background-color: cornflowerblue;
    margin: 0;
    color: white;
    font-family: times, serif;
     }
img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
p {
    margin: 15px;
}
h1 {
    font-size: 3em;
    background-color: dodgerblue;
}
h1, h2, h3, h4 {
    text-shadow: 1px 1px blue;
    text-align: center;
            }
h2, h3, h4 {
    font-size: 1.25em;
            }
nav {
    text-align: center;
    background: darkblue;
    width: 100%;
    font-size: 1.25em;
            }
nav a {text-decoration: none;}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
            }
nav li {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-right: .1em;
    padding-left: .1em;
    width: 100%;
    border: 2px solid lightskyblue;
            }
.shark {
    border: 10px ridge blue;
    border-radius: 10px;
            }
#WARNING {
    background-color: red;
            }
#beach {
    border: 10px ridge red;
    border-radius: 20px;
            }
#Song{
    background: dodgerblue;
    font-size: 17px;
    height: 350px;
    overflow: auto;
    border-radius: 1px;
    padding: 5px;
            }
nav a:link{
    color: lightskyblue;
    text-decoration: none;
    text-shadow: 1px 1px white;
            }
nav a:hover{
    background: yellow;
    text-shadow: none;
    color: red;
            }
