
/*#region Multiple Pages */

/*#region Nav */
@media (max-width: 768px) {
  .navbar {
    border-radius: 0;
    width: 100%;
    top: 0;

    padding: 1rem;
  }
  .nav-toggle {
    display: grid;
    place-items: center;

    height: 2rem;
    width: 2rem;

    font-size: 1.5rem;

    color: var(--color7);
    border-radius: 0.5rem;
    border: 1px solid transparent;

    transition: color 0.7s ease, background-color 0.7s ease, border 0.7s ease;
  }
  .nav-toggle:hover {
    color: var(--color7);
    background-color: color-mix(in srgb, currentColor 12%, transparent);
    border: 1px solid var(--color6);

  }
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 0rem;
  }
  .navbar.open .nav-links {
    display: flex;
  }
}
/*#endregion */

/*#endregion */



/*#region Home Page */

/*#region Intro */
@media screen and (max-width: 880px) {
  #intro {
    flex-direction: column-reverse;
  }

  .intro-text h1 {
    text-align: center;
    font-size: 3.25rem;
  }

  .terminal {
    margin: 0 auto;
  }

  .intro-text p {
    text-align: center;
  }

  .intro-img img {
    width: 100%;
  }
}
/*#endregion */


/*#region Footer */
@media screen and (max-width: 350px) {
  .container2 {
    padding: 0;
  }
}
/*#endregion */

/*#endregion */



/*#region Timeline */
@media only screen and (min-width: 768px) {
  .timeline {
    width: 92.5%;
  }

  .timeline:before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    width: 4px;
    height: 100%;

    transform: translateX(-50%);
    background: linear-gradient(
      to bottom,
      var(--color4) 0%,
      var(--color5) 100%
    );
    border-radius: 999px;
  }
  .timeline ul {
    display: block;
  }
  .timeline ul li {
    position: relative;

    width: 50%;

    margin-bottom: 50px;

    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
  }
  .timeline ul li::before {
    content: "";

    position: absolute;
    top: 0px;

    height: 20px;
    width: 20px;

    border-radius: 999px;
    background-color: var(--color3);

    transition: background-color 0.5s ease;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline ul li:hover::before {
    background-color: var(--color4);
  }
}
/*#endregion */



/*#region Projects */
/*#endregion */



/*#region Contact */
/*#endregion */


