/*#region Site Wide */
:root {
  --bg: rgb(17, 17, 17);
  --headers: rgb(250, 250, 250);

  --text: rgb(230, 230, 230);
  --text-bg: #2a2a2a;

  --dark-text: rgb(150, 150, 150);

  --accent1: #64b68d;
  --accent1-bg: #1f3d33;
  --accent2: rgb(246, 90, 90);
  --accent2-bg: #3a1f22;
  --accent3: #147ae0;
  --accent3-bg: #0a2540;

  --card-bg: #242424;
  --shadow: 0 1px 3px rgba(255, 255, 255, 0.04), 0 6px 16px rgba(0, 0, 0, 0.85);
}
.lightmode {
  --bg: rgb(245, 245, 245);
  --headers: rgb(0, 0, 0);

  --text: rgb(17, 17, 17);
  --text-bg: #c6c6c6;

  --dark-text: rgb(150, 150, 150);

  --accent1: #4f9e77;
  --accent1-bg: #d7efe5;
  --accent2: #d6454d;
  --accent2-bg: #f8d7da;
  --accent3: #2563eb;
  --accent3-bg: #dbeafe;

  --card-bg: #d6d6d6;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 6px 16px rgba(0, 0, 0, 0.12);
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Golos Text", sans-serif;
  line-height: 1.25;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;

  line-height: 1.25;

  background-color: var(--bg);
  color: var(--text);
}
#content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-height: 100dvh;
  overflow-x: hidden;

  padding: 6rem 1rem 2rem;

  /* border: 1px solid yellow; */
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;

  color: var(--headers);
}
a {
  text-decoration: none;

  color: inherit;
  cursor: pointer;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
section {
  max-width: 1400px;
  width: 100%;

  margin: 0 auto;

  /* border: 1px solid red; */
}
/*#endregion */










/*#region Multiple Pages */

/*#region Loader and Animation */
/* Loader is fully visible initially */
#loader {
  position: fixed;
  inset: 0;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Main content starts invisible */
#content {
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1); /* soft fade-in */
}
#loader.fade-out {
  opacity: 0;
  pointer-events: none;
}
#content.show {
  opacity: 1;
}


#loader h1 {
  position: absolute;
  left: 50%;
  top: 58%;

  margin-left: -20px;

  font-family: monospace;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder .4s linear infinite;

  > span {
    height: 5px;
    width: 35px;
    background: var(--headers);
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
  }
}
.base {
  span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid var(--headers);
    border-bottom: 6px solid transparent;

    &:before {
      content: "";
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background: var(--headers);
      position: absolute;
      right: -110px;
      top: -16px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-right: 55px solid var(--headers);
      border-bottom: 16px solid transparent;
      top: -16px;
      right: -98px;
    }
  }
}
.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: var(--headers);
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;

  &:after {
    content: "";
    height: 12px;
    width: 12px;
    background: var(--headers);
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
  }
}
.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: var(--headers);
  position: absolute;
  animation: fazer1 .2s linear infinite;
}
.body > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 .4s linear infinite;
}
.body > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 .4s linear infinite;
  animation-delay: -1s;
}
.body > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}
@keyframes fazer1 {
  0% { left: 0; }
  100% { left: -80px; opacity: 0; }
}
@keyframes fazer2 {
  0% { left: 0; }
  100% { left: -100px; opacity: 0; }
}
@keyframes fazer3 {
  0% { left: 0; }
  100% { left: -50px; opacity: 0; }
}
@keyframes fazer4 {
  0% { left: 0; }
  100% { left: -150px; opacity: 0; }
}
@keyframes speeder {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -3px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 3px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-2px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;

  span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: var(--headers);

    &:nth-child(1) {
      top: 20%;
      animation: lf .6s linear infinite;
      animation-delay: -5s;
    }
    &:nth-child(2) {
      top: 40%;
      animation: lf2 .8s linear infinite;
      animation-delay: -1s;
    }
    &:nth-child(3) {
      top: 60%;
      animation: lf3 .6s linear infinite;
    }
    &:nth-child(4) {
      top: 80%;
      animation: lf4 .5s linear infinite;
      animation-delay: -3s;
    }
  }
}
@keyframes lf {
  0% { left: 200%; }
  100% { left: -200%; opacity: 0; }
}
@keyframes lf2 {
  0% { left: 200%; }
  100% { left: -200%; opacity: 0; }
}
@keyframes lf3 {
  0% { left: 200%; }
  100% { left: -100%; opacity: 0; }
}
@keyframes lf4 {
  0% { left: 200%; }
  100% { left: -100%; opacity: 0; }
}
/* #endregion */


/*#region Nav */
.nav-toggle {
  display: none;

  background: none;
  border: none;
  color: var(--headers);

  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);

  padding: 0 2rem;

  color: var(--text);
  background-color: transparent;
  border-radius: 999px;
  border: 0.25rem solid transparent;
  background:
    linear-gradient(var(--bg), var(--bg)) padding-box,
    conic-gradient(
      from var(--gradient-angle),
      #0a2540,
      #0e4d92,
      #1f7ae0,
      #0e4d92,
      #0a2540
    ) border-box;

  animation: rotate-border 15s linear infinite;
}
@keyframes rotate-border {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, auto);

  list-style: none;
}
nav ul li {
  display: grid;
  place-items: center;

  padding: 0.5rem 1rem;

  text-align: center;
  font-size: 1rem;
}
nav ul li a {
  padding: 0.5rem 1rem;

  text-align: center;

  border-radius: 999px;

  transition: color 0.5s ease, background-color 0.5s ease;
}
nav ul li a:hover {
  color: var(--headers);
  background-color: var(--text-bg);
}
.active-page {
  color: var(--text);
  background-color: var(--card-bg);
}

#theme-switch {
  width: 1.5rem;
  height: 1.5rem;

  stroke-width: 2px;

  color: var(--headers);
  background-color: transparent;
  border: none;
  border-radius: 99px;

  transition: transform 1.5s ease;
}
#theme-switch:hover {
  transform: rotate(180deg);
}
/* #endregion */


/*#region Descriptions */
.description {
  min-height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  letter-spacing: 0.75px;
}
.description-text h1 {
  margin-bottom: 2rem;

  font-size: 4rem;

  background: linear-gradient(110deg, #7800ff, #f07 35%, #f9b11f 45%, #7800ff 90%) 0 0 / 300% 100%;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: animate-gradient 10s linear infinite;
}
.description-text p {
  width: 75%;

  margin: 0 auto;
  margin-top: 2rem;

  font-size: 1.25rem;

  color: var(--text);
}
/*#endregion */


/*#region Rainbow Text */
.rainbow-text {
  background: linear-gradient(110deg, #7800ff, #f07 35%, #f9b11f 45%, #7800ff 90%) 0 0 / 300% 100%;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: animate-gradient 10s linear infinite;
}
@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
/*#endregion */

/*#endregion */










/*#region Home Page */

/*#region Intro */
#intro {
  display: flex;
  align-items: center;
}

.intro-text {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.intro-text h1 {
  padding: 1rem;
  margin: 0;

  font-size: 4rem;

  color: #0e4d92;
}

.terminal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  max-width: 650px;
  width: 100%;

  padding: 1rem;
  margin: 0 1rem;

  color: #00ff9c;
  background-color: rgb(17, 17, 17);
  border-radius: 1rem;

  border: 2px solid #00ff9c;
}
.terminal .prompt {
  margin-right: 0.625rem;

  font-family: monospace;
  font-size: 1.5rem;

  color: #00ff9c;
}
.terminal h2 {
  display: inline;

  font-family: monospace;
  font-size: 1.5rem;

  color: #00ff9c;
}
.terminal .cursor {
  width: 0.625rem;
  height: 1.2rem;

  background-color: #00ff9c;
  animation: cursorBlink 1s steps(2, start) infinite;
}
@keyframes cursorBlink {
  to {
    visibility: hidden;
  }
}

.intro-text p {
  flex: 1;

  display: grid;
  place-items: center;

  padding: 1rem;

  font-size: 1.25rem;
  line-height: 1.25;

  color: var(--text);
  border-radius: 0.25rem;
}

.intro-img {
  display: grid;
  place-items: center;

  padding: 2rem;
}
.intro-img img {
  max-height: 15rem;
  object-fit: cover;

  margin: 0 auto;

  border-radius: 1rem;
  box-shadow: 0 0 15px gray;
}
/*#endregion */


/*#region Infinite Carousels */
.carousel {
  margin: 1.5rem 0;
  width: 100%;
  margin-inline: auto;
  height: 5.5rem;

  position: relative;
  overflow: hidden;

  mask-image: linear-gradient(to right,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 1) 10%,
  rgba(0, 0, 0, 1) 90%,
  rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to { left: -225px; }
}
@keyframes scrollRight {
  to { right: -225px; }
}
.itemLeft, .itemRight {
  width: 225px;
  height: 5.5rem;

  position: absolute;

  display: flex;
  align-items: center;

  font-size: 1.75rem;
}
.itemLeft {
  left: max(calc(225px * 8), 100%);
  animation: scrollLeft 100s linear infinite;
}
.itemRight {
  right: max(calc(225px * 8), calc(100% + 225px));
  animation: scrollRight 100s linear infinite;
}

.item1 { animation-delay: calc(100s / 8 * (8 - 1) * -1); }
.item2 { animation-delay: calc(100s / 8 * (8 - 2) * -1); }
.item3 { animation-delay: calc(100s / 8 * (8 - 3) * -1); }
.item4 { animation-delay: calc(100s / 8 * (8 - 4) * -1); }
.item5 { animation-delay: calc(100s / 8 * (8 - 5) * -1); }
.item6 { animation-delay: calc(100s / 8 * (8 - 6) * -1); }
.item7 { animation-delay: calc(100s / 8 * (8 - 7) * -1); }
.item8 { animation-delay: calc(100s / 8 * (8 - 8) * -1); }

.itemLeft svg, .itemRight svg {
  width: 5rem;
  height: 5rem;
}
.itemLeft p , .itemRight p {
  padding: 0.5rem;
  margin-left: 0.25rem;

  text-align: center;
  font-size: 1.5rem;

  color: var(--headers);
}
/*#endregion */


/*#region Footer Links */
.footer {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  flex: 1;

  display: grid;
  place-items: center;

  padding: 1rem;
}
.container1 h2 {
  margin: 0 auto;

  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;

  color: var(--text);
}
.container1 h2 .easter-egg {
  transition: color 0.5s ease, text-shadow 0.5s ease;
  animation: secretBlink 10s infinite;
}
.container1 h2 .easter-egg:nth-child(2) {
  animation-delay: 5s;
}
@keyframes secretBlink {
  0%, 98%, 100% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}
.container1 h2 .easter-egg:hover {
  color: var(--headers);
  text-shadow: 0 0 2px var(--headers);
  animation-play-state: paused;
}


.container2 {
  flex: 1;

  display: grid;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.container2 a {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  color: var(--text);
  border-radius: 1rem;
  border: 2px solid var(--text);
}
.container2 a .platform {
  font-size: 1.25rem;

  opacity: 0.8;
}
.container2 a .username {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;

  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.container2 a:hover .username {
  opacity: 1;
  transform: translateX(0);
}

.container2 a svg {
  width: 1.5rem;
  height: 1.5rem;

  color: currentColor;

  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), color 1s ease;
}
.container2 a:hover svg {
  transform: rotate(-45deg);
  color: var(--accent1);
}
.container2 a:hover .copy-btn {
  transform: rotate(0);
}
/*#endregion */


/*#region Weather */
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.125rem;

  width: fit-content;

  padding: 0.25rem 1rem;
  margin: 0 auto;

  text-transform: lowercase;
  text-align: center;

  border-radius: 999px;
  border: 2px solid var(--bg);
  color: var(--bg);

  transition: color 1.5s ease, border 1.5s ease;
}
.weather p {
  font-family: monospace;
}
.weather:hover {
  color: var(--dark-text);
  border: 2px solid var(--dark-text);
}
/*#endregion */

/*#endregion */










/*#region Journey Page */

/*#region Timeline */
.timeline-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;
}
.timeline {
  position: relative;

  width: 100%;
  height: auto;

  margin: 0 auto;
}

.timeline ul {
  display: grid;
  gap: 2rem;

  list-style: none;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline ul li.in-view {
  opacity: 1;
}

.timeline-content {
  display: grid;
  gap: 1rem;

  padding: 1rem;

  border-radius: 1rem;
  box-shadow: var(--shadow);
}
.timeline-content h2 {
  font-weight: bold;
  font-size: 1.75rem;
}
.timeline-content .time {
  display: block;

  font-size: 1.25rem;
  letter-spacing: 1px;

  color: var(--accent2);
}
.timeline-content .time time {
  font-family: monospace;
}
.timeline-content p {
  line-height: 1.4;
}
/*#endregion */

/*#endregion */










/*#region Project Page */

/*#region Filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}
.filters button {
  padding: 0.5rem 1rem;

  border-radius: 999px;
  background-color: var(--card-bg);
  border: 2px solid transparent;
  color: var(--text);

  transition: color 0.5s ease, border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}
.filters button:first-child {
  border: 2px solid var(--accent2);
  color: var(--accent2);
  background-color: var(--accent2-bg);
}
.filters button:hover {
  border: 2px solid var(--accent3);
  color: var(--accent3);
  background-color: var(--accent3-bg);

  box-shadow: var(--shadow);
}
.filters .active {
  color: var(--accent1);
  border: 2px solid var(--accent1);
  background-color: var(--accent1-bg);
}
/*#endregion */


/*#region Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1.5rem;

  min-height: 465px;

  padding: 1.5rem 0;
}

.project-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 320px;

  background-color: var(--bg);
  color: var(--text);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--shadow);

  transition: transform 0.5s ease;
}
.project-card:hover {
  transform: translateY(-6px);
}
.project-card:hover .project-preview img {
  transform: scale(1.05);
}

.project-preview {
  position: relative;

  aspect-ratio: 16 / 9;
  overflow: hidden;
}
.project-preview .badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;

  display: block;

  padding: 0.25rem 0.5rem;

  font-size: 0.6rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(250, 250, 250);
  backdrop-filter: blur(6px);
  border-radius: 999px;
  overflow: hidden;
  pointer-events: none;
}
.project-preview img {
  display: block;

  object-fit: cover;
  object-position: top;

  width: 100%;
  height: 100%;

  transition: transform 0.5s ease;
}

.project-content {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
}
.project-content h2 {
  width: fit-content;

  padding: 0.25rem 0.5rem;

  color: var(--bg);
  background-color: var(--headers);
  border-radius: 0.5rem;
}

.project-content .stack {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.project-content .stack span {
  display: block;

  padding: 0.25rem 0.5rem;

  border-radius: 999px;
  background-color: var(--card-bg);
  color: var(--text);
}

.project-content p {
  flex: 1;

  font-size: 1rem;
  font-size: 0.85rem;
  text-align: left;

  color: var(--text);
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: auto;
}
.project-links a {
  flex: 1;

  padding: 0.5rem;

  text-align: center;

  color: var(--accent2);
  border: 2px solid var(--accent2);
  border-radius: 999px;

  transition: color 0.5s ease, border 0.5s ease;
}
.project-links a:hover {
  color: var(--accent1);
  border: 2px solid var(--accent1);
}

.project-content button {

  width: fit-content;

  margin: 0 auto;
  padding: 0.5rem 1rem;

  border-radius: 999px;
  background-color: transparent;
  color: var(--accent3);
  border: 2px solid var(--accent3);

  transition: border 0.5s ease, color 0.5s ease;
}
.project-content button:hover {
  border: 2px solid var(--text);
  color: var(--text);
}
/*#endregion */


/*#region Dialogue Box */
.modal {
  width: 90%;
  height: 90%;
  max-width: 1000px;

  margin: 2rem auto;

  background-color: transparent;
  border-radius: 1rem;
  border: 2px solid var(--text);
  box-shadow: var(--shadow);
}
::backdrop {
  backdrop-filter: blur(6px);
}

.modal-content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;

  font-family: system-ui, sans-serif;

  overflow-y: auto;

  background-color: var(--bg);
  color: var(--text);
}


.modal-header {
  display: grid;
  gap: 1rem;
}
.modal-header h2 {
  margin-bottom: 0;

  font-size: 1.8rem;
}
.modal-header p {
  color: var(--dark-text);
}


.modal-hero img {
  display: block;

  width: 100%;
  height: auto;
  max-height: 475px;
  object-fit: cover;
  object-position: top;

  border: 2px solid var(--headers);
  border-bottom: 2px solid var(--headers);
  border-radius: 1rem;
}


.modal-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 2rem;
}

.modal-main {
  display: grid;
  gap: 2rem;
}
.modal-main > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    width: fit-content;

    padding: 0.25rem 0.5rem;

    font-size: 0.85rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;

    color: var(--bg);
    background-color: var(--text);
    border-radius: 1rem;
  }
  p {
    line-height: 1.5;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    list-style-position: inside;
  }
}

.modal-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-self: start;
}
.modal-sidebar > div {
  display: grid;
  gap: 0.5rem;

  h3 {
    color: var(--headers);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    list-style-position: inside;
    list-style-type: none;
    font-weight: 500;
  }
  ul li a {
    position: relative;

    text-decoration: none;
    font-weight: 500;

    color: var(--accent3);
  }
  ul li a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 2px;

    background: currentColor;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
  }
  ul li a:hover::after {
    transform: scaleX(1);
  }
}


.modal-content button {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 2rem;
  height: 2rem;

  padding: 0;

  line-height: 0;

  overflow: hidden;

  background-color: var(--card-bg);
  color: var(--headers);
  border-radius: 999px;
  border: 2px solid var(--headers);

  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.modal-content button:hover {
  background-color: var(--headers);
  color: var(--card-bg);
  border: 2px solid var(--card-bg);
}
/*#endregion */

/*#endregion */










/*#region Contact Page */

/*#region Contact */
.contact {
  flex: 1;

  display: flex;
  flex-wrap: wrap;
}

.chat {
  flex: 1;

  display: grid;
  place-items: center;

  padding: 1rem;

  text-align: center;
}
.chat .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat .text h1 {
  margin-bottom: 0;

  font-size: 3.5rem;
}
.chat .text p {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.75px;

  color: var(--text);
}
.highlight-text {
  font-weight: bold;
  text-transform: uppercase;

  background: linear-gradient(110deg, #7800ff, #f07 35%, #f9b11f 45%, #7800ff 90%) 0 0 / 300% 100%;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: animate-gradient 10s linear infinite;
}
/*#endregion */


/*#region Form */
.contact-form {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.5rem;

  width: 100%;

  padding: 1rem;
}
.form-group {
  display: grid;
  gap: 0.25rem;
}
.form-group label {
  font-size: 1.25rem;
}
input, button, select, textarea {
  font: inherit;
}

.form-group input:not([type="submit"]), .form-group textarea {
  padding: 0.5rem 1rem;

  border-radius: 1rem;
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--text);
  outline: none;
  accent-color: none;

  transition: border 0.5s ease;
}
.form-group input:not([type="submit"]):focus, .form-group textarea:focus  {
  border: 2px solid var(--accent3);
}

.form-group input:not([type="submit"]):invalid:not(:placeholder-shown) {
  border: 2px solid var(--accent2);
}
.form-group input:not([type="submit"]):valid:not(:placeholder-shown), .form-group textarea:valid {
  border: 2px solid var(--accent1);
}

input[type="submit"] {
  padding: 1rem;

  font-size: 1.25rem;

  background-color: var(--accent2-bg);
  border: 2px solid var(--accent2);
  color: var(--accent2);
  border-radius: 999px;

  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
form:valid input[type="submit"] {
  color: var(--accent1);
  background-color: var(--accent1-bg);
  border: 2px solid var(--accent1);
}
form:valid input[type="submit"]:hover {
  transform: translateY(-6px);
}
/*#endregion */


/*#region Form Links */
.form-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  line-height: 0;
}
.form-links a svg {
  height: 3rem;
  width: 3rem;

  fill: var(--text);

  transition: transform 0.5s ease, fill 0.5s ease;
}
.form-links a svg:hover {
  transform: translateY(-6px);
  fill: var(--dark-text);
}
/*#endregion */

/*#endregion */










/*#region Thank You */

/*#region Form Details */
#results {
  flex: 1;

  display: grid;
  gap: 2rem;

  max-width: 600px;

  padding: 1rem;
  margin: 0 auto;

  background-color: var(--card-bg);
  color: var(--text);
  border-radius: 1rem;
}
#results h1 {
  margin: 0;

  text-align: center;
}
#results span {
  font-weight: bold;

  color: var(--accent1);
}
#results a {
  padding: 1rem 0;

  color: var(--accent2);
}
#results a:hover {
  text-decoration: underline;
}
/*#endregion */


/*#region Return Links */
#return-links {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  width: 100%;
  max-width: 600px;

  padding: 1rem;
}
#return-links a {
  padding: 0.5rem 1rem;

  text-align: center;

  border-radius: 999px;
  background-color: var(--card-bg);
  border: 2px solid transparent;
  overflow: hidden;
  color: var(--text);

  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}
#return-links a:hover {
  background-color: var(--text-bg);
  color: var(--headers);
  border: 2px solid var(--headers);
}
/*#endregion */

/*#endregion */




